menu "URP"

	config URP_RECV_BUF_SIZE
		int "UART receiver buffer size"
		default 1024

	config URP_VALUE_TYPE_LENGTH
		int "Number of character in the value type"
		default 3

	config URP_RECV_TASK_PRIO
		int "Priority of the recv task"
		default 12

	config URP_RECV_DATA_SIZE_MAX
		int "Maximum receive data size"
		default 256
		help
			This does not include start and end characters as well as value type and checksum.

	config URP_SEND_BUF_SIZE
		int "UART TX buffer size"
		default 0

endmenu