.button.color {
	margin-left: 4%;
}

.button.color:first-child {
	margin-left: 0;
}

.button.lumos {
	border-radius: 20px;
	height: 100px;
	margin-top: 5rem;
	margin-bottom: 4rem;
	text-align: center;
	text-align: center
}

.button.lightMode {
	padding: 0 0 5rem 0;
	margin-bottom: 2rem;
	border-radius: 20px;
	height: 50px;
}

.button.color {
	padding: 0 0 5rem 0;
	margin-bottom: 2rem;
	border-radius: 20px;
	width: 13.3333333333%;
	height: 50px;
	border-radius: 30px;
	cursor: pointer;
}

.button.color:hover,
.button.color:focus {
	box-shadow: 2px 2px 10px grey;
}

.button.color.selected {
	box-shadow: 5px 5px 10px grey;
}

.button.color.selected:hover,
.button.color.selected:focus {
	box-shadow: 7px 7px 12px grey;
}

.button.color.full {
	width: 100%;
}